* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: lightgray;
}

header {
    padding: 30px;
    color: beige;
    background-color: rgb(55, 55, 55);
    margin: 0;
}

.header h1 {
    display: inline-block;
    font-size: 50px;
}

.header div {
padding-top: 15px;
margin-right: 20px;
float: right;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
}

li {
    display: inline-block;
    padding: 10px;
}

a {
    text-decoration: underline;
    color: beige;
    font-size: 20px;
}
div {
    position: relative;
}
.myimage {
    height: 600px;
    width: 100%;
    margin-bottom: 10px;
}

.bottom-right {
    position: absolute;
    bottom: 40px;
    font-size: 25px;
    right: 16px;
    color: beige;
}

main {
    /* border-right: 3px solid rgb(55, 55, 55); */
    padding-left: 20px;
}
h2 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    flex-wrap: wrap;
    height: 150px;
    color: rgb(55, 55, 55);
    /* padding-left: 50px; */
    align-items: 50px;
}

p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    /* padding-left: 40px; */
    
}
.contact {
    padding: 15px;
    text-align: center;
    font-size: 30px;
}
section li {
    padding: 20px;
}